        header{
            background-color: rgb(146, 168, 137);
            color: #d3d4d3 ;
            text-align: center;
            max-width: 800px;
            margin: 0 auto;
            border: 5px solid #326b43;
            padding: 16px;
        }
        main{
            background-color: #d5ffc9;
            color: rgb(23, 32, 23);
            text-align: center;
            margin: 0 auto;
        }
        img{
            width: 90px;
            height: 90px;
        }